.container-outbox {
  /* position: relative;*/
  margin: 30px auto;
  max-width: 800px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  color: rgb(6, 6, 190);
  border-radius: 30px;
  padding: 20px;
}
button {
  position: relative;
  left: 328px;
  top: -43px;
}
#button-addon2 {
  transition: all 200ms ease-in-out;
}
#button-addon2:hover {
  cursor: pointer;
  opacity: 0.6;
}

#icon {
  width: 200px;
  height: auto;
}

.tomorrow-pic,
.saturday-pic,
.sunday-pic {
  width: 100px;
  height: auto;
  margin-left: 40px;
}
.col-4 {
  line-height: 1.6;
}

#date {
  font-size: 20px;
}
#location {
  display: block;
  font-size: 35px;
  font-style: bold;
}
#temperature {
  font-size: 50px;
}
#description {
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -20px;
}
#inputSearching {
  height: auto;
  width: 300px;
}

.city {
  font-size: 40px;
  font-style: bold;
}

.small {
  font-size: 20px;
}

#footer {
  text-align: center;
  font-size: small;
  color: #7e96b1;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}
