.container-outbox {
  /* position: relative;*/
  margin: 30px auto;
  max-width: 900px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  color: rgb(6, 6, 190);
  border-radius: 30px;
  padding: 20px;
}
button {
  position: relative;
  left: 328px;
  top: -43px;
}
#button-addon2 {
  transition: all 200ms ease-in-out;
}
#button-addon2:hover {
  cursor: pointer;
  opacity: 0.6;
}

.big-weather-pic {
  width: 300px;
  height: auto;
}

.tomorrow-pic,
.saturday-pic,
.sunday-pic {
  width: 100px;
  height: auto;
  margin-left: 40px;
}
.col-4 {
  line-height: 1.3;
}
#currentTime {
  font-size: 20px;
}
#currentLocation {
  display: block;
  font-size: 35px;
  font-style: bold;
}
#currentTemperature {
  font-size: 50px;
}
.units {
  position: relative;
  top: -20px;
}
#inputSearching {
  height: auto;
  width: 300px;
}
#today {
  font-size: 40px;
  font-style: bold;
}
.city {
  font-size: 40px;
  font-style: bold;
}

.small {
  font-size: 20px;
}

#footer {
  text-align: center;
  font-size: small;
  color: #7e96b1;
}
small a {
  text-decoration: none;
  color: #7e96b1;
}

small a:hover {
  color: #5d9fff;
}
